@import "variables.less";

header {
	&#our-company {
		background-image: url("../images/bg-our-company.jpg");
		height: 300px;
		color: @gray-lighter;
		&:after {
			color: #33427d;	
		}
	}
	h1 {
		font-family: 'museo_sans100';
		font-size: 3.750em;
	}
	h2 {
		font-family: 'museo_sans100';
		font-size: 1.500em;
	}

}